<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <title>Runkeeper to Strava - Login</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="manifest" href="/static/manifest.json" />
        <link rel="icon" type="image/x-icon" href="/static/192.png">
    </head>

    <body>
        <h1>Runkeeper to Strava - Login</h1>

            <main>

            <p>Supply the app password to log in.</p>

            <form name="login" id="login-form" action="/connect" method="post">
                <input name="password" id="password" type="password" />
                <input name="submit" id="submit" type="submit" value="Log In"  />
            </form>

        </main>

        <script src="/static/scripts.js"></script>
    </body>
</html>
