* {
    margin: 0;
    padding:0;
    font-family: sans-serif;
}

body {
    min-width: 360px;
    max-width: 800px;
    line-height: 150%;
}

h1, h2, p {
    padding: 0.5em 12px;
    line-height: 133%;
}

h2 {
    margin-top: 2em;
}

form {
    padding: 0.5em 12px;
}

input[type=password] {
    width: 30%;
    min-width: 200px;
    height: 2em;
    padding: 2px 0;
}

input[type=submit] {
    margin: 0.5em;
    padding: 0.45em 2em;
    background-color: #fe3b00;
    color: #fff;
    border: 2px solid #e4724f;
    outline: 0;
    cursor: pointer; 
}

button {
    margin: 0.5em;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
}

button > img {
    max-width: 70%;
    min-width: 140px;
}

table {
    width: 100%;
    margin-top: 0.8em;
    border-spacing: 0.8em;
}

th, td {
    padding: 0.8em;
    margin: 0.5em;
    width: 50%;
    background-color: #ffe1ce;
    text-align: center;
    vertical-align: top;
    line-height: 188%;
}

.connected-service-details {
    display: none;
}

.connect-new-service p {
    font-size: 0.8em;
    margin-top: 1.6em;
}